In [1]:
import pandas as pd

In [33]:
# Read in data from csv and import it into a data frame
hop_file = "Resources/02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"
hop_df = pd.read_csv(hop_file)
hop_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [34]:
# Check for missing values in the data
hop_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [35]:
# Find the number of total players
playerCount = hop_df['SN'].nunique()

In [36]:
# Place all Purchasing Analysis data into a summary DataFrame
totalPlayers_summary_df = pd.DataFrame({"Total Players": [playerCount]})
totalPlayers_summary_df

   Total Players
0            576

In [37]:
# Find the number of unique items
uniqueItems = hop_df['Item Name'].nunique()

# Find the average $ price of all transactions
averagePrice = round(hop_df['Price'].mean(),2)

# Find the total number of transactions
nPurchases = hop_df['Purchase ID'].count()

# Find the $ revenue of all transactions
revenue = round(hop_df['Price'].sum(),2)

In [38]:
# Place all Purchasing Analysis Total data into a summary DataFrame
purchasingAnalysis_summary_df = pd.DataFrame({"Number of Unique Items": [uniqueItems],
                              "Average Price": "$" + str(averagePrice),
                              "Number of Purchases": nPurchases,
                              "Total Revenue": "$" + str(revenue)})
purchasingAnalysis_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [39]:
# Create gender demographic table and remove duplicate values
gender_df = hop_df[['SN', 'Gender']]
gender_df = gender_df.drop_duplicates()

In [32]:
# Group gender table by gender and get the count as column values grouped by gender
genderDemo_df = gender_df.groupby(['Gender']).count()

# Create a new column in the gender table with percentages based on total player count
genderDemo_df['Percentage of Players'] = round(genderDemo_df.SN / playerCount * 100, 2)

# rename the SN column and add a percentage symbol before displaying the table
mod_genderDemo_df = genderDemo_df.rename(columns={"SN":"Total Count"})
mod_genderDemo_df['Percentage of Players'] = mod_genderDemo_df['Percentage of Players'].map(str) + "%"
mod_genderDemo_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [75]:
# Calculate purchasing analysis gender values (i.e. Purchase Count, Avg Purchase Price, 
# Total Purchase Price, and Avg Total Purchase per Person)...

# ...for females
female_df = hop_df.loc[hop_df["Gender"] == "Female", :]
femalePurchaseCount = female_df['Purchase ID'].count()

femaleAvgPurchasePrice = round(female_df['Price'].mean(),2)

femTotalVal = round(female_df['Price'].sum(),2)

comparison_female_df = female_df.groupby(['SN']).sum()
femAvgTotalPurchase = round(comparison_female_df['Price'].mean(),2)

#...for males
male_df = hop_df.loc[hop_df["Gender"] == "Male", :]
malePurchaseCount = male_df['Purchase ID'].count()

maleAvgPurchasePrice = round(male_df['Price'].mean(),2)

maleTotalVal = round(male_df['Price'].sum(),2)

comparison_male_df = male_df.groupby(['SN']).sum()
maleAvgTotalPurchase = round(comparison_male_df['Price'].mean(),2)

#...for Other/non-Disclosed
otherGen_df = hop_df.loc[hop_df["Gender"] == "Other / Non-Disclosed", :]
otherPurchaseCount = otherGen_df['Purchase ID'].count()

otherAvgPurchasePrice = round(otherGen_df['Price'].mean(),2)

otherTotalVal = round(otherGen_df['Price'].sum(),2)
m 
comparison_otherGen_df = otherGen_df.groupby(['SN']).sum()
otherAvgTotalPurchase = round(comparison_otherGen_df['Price'].mean(),2)

In [76]:
# Place all Purchasing Analysis Gender data into a summary DataFrame
purchasingGenAnalysis_summary_df = pd.DataFrame({"Gender": ["Female", "Male", "Other / Non-Disclosed"],
                              "Purchase Count": [femalePurchaseCount, malePurchaseCount, otherPurchaseCount],
                              "Average Purchase Price": ["$" + str(femaleAvgPurchasePrice), "$" + str(maleAvgPurchasePrice), "$" + str(otherAvgPurchasePrice)],
                              "Total Purchase Value": ["$" + str(femTotalVal), "$" + str(maleTotalVal), "$" + str(otherTotalVal)],
                              "Avg Total Purchase per Person": ["$" + str(femAvgTotalPurchase), "$" + str(maleAvgTotalPurchase), "$" + str(otherAvgTotalPurchase)]})
purchasingGenAnalysis_summary_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,$3.2,$361.94,$4.47
1,Male,652,$3.02,$1967.64,$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56