In [1]:
import pandas as pd

In [2]:
# Read in data from csv and import it into a data frame
hop_file = "Resources/02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"
hop_df = pd.read_csv(hop_file)

# Check to see if dataframe imported correctly
hop_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Check for missing values in the data
hop_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [4]:
# Find the number of total players
playerCount = hop_df['SN'].nunique()

In [5]:
# Place player data into a summary DataFrame
totalPlayers_summary_df = pd.DataFrame({"Total Players": [playerCount]})

# Player Count

In [6]:
totalPlayers_summary_df

   Total Players
0            576

In [7]:
# Find the number of unique items
uniqueItems = hop_df['Item Name'].nunique()

# Find the average $ price of all transactions
averagePrice = round(hop_df['Price'].mean(),2)

# Find the total number of transactions
nPurchases = hop_df['Purchase ID'].count()

# Find the $ revenue of all transactions
revenue = round(hop_df['Price'].sum(),2)

In [8]:
# Place all Purchasing Analysis Total data into a summary DataFrame
purchasingAnalysis_summary_df = pd.DataFrame({"Number of Unique Items": [uniqueItems],
                              "Average Price": "$" + str(averagePrice),
                              "Number of Purchases": nPurchases,
                              "Total Revenue": "$" + str(revenue)})

# Purchasing Analysis (Total)

In [9]:
purchasingAnalysis_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [10]:
# Create gender demographic table and remove duplicate values
unique_players_df = hop_df[['SN', 'Gender', 'Age']]
unique_players_df = unique_players_df.drop_duplicates()

In [11]:
# Group gender table by gender and get the count as column values grouped by gender
genderDemo_df = unique_players_df.groupby(['Gender']).count()

# Create a new column in the gender table with percentages based on total player count
genderDemo_df['Percentage of Players'] = round(genderDemo_df.SN / playerCount * 100, 2)

# rename the SN column and add a percentage symbol before displaying the table
mod_genderDemo_df = genderDemo_df.rename(columns={"SN":"Total Count"})
mod_genderDemo_df['Percentage of Players'] = mod_genderDemo_df['Percentage of Players'].map(str) + "%"

# Gender Demographics

In [12]:
mod_genderDemo_df[["Total Count", "Percentage of Players"]]

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [13]:
# Calculate purchasing analysis gender values (i.e. Purchase Count, Avg Purchase Price, 
# Total Purchase Price, and Avg Total Purchase per Person)...

# ...for females
female_df = hop_df.loc[hop_df["Gender"] == "Female", :]
femalePurchaseCount = female_df['Purchase ID'].count()

femaleAvgPurchasePrice = round(female_df['Price'].mean(),2)

femTotalVal = round(female_df['Price'].sum(),2)

comparison_female_df = female_df.groupby(['SN']).sum()
femAvgTotalPurchase = round(comparison_female_df['Price'].mean(),2)

#...for males
male_df = hop_df.loc[hop_df["Gender"] == "Male", :]
malePurchaseCount = male_df['Purchase ID'].count()

maleAvgPurchasePrice = round(male_df['Price'].mean(),2)

maleTotalVal = round(male_df['Price'].sum(),2)

comparison_male_df = male_df.groupby(['SN']).sum()
maleAvgTotalPurchase = round(comparison_male_df['Price'].mean(),2)

#...for Other/non-Disclosed
otherGen_df = hop_df.loc[hop_df["Gender"] == "Other / Non-Disclosed", :]
otherPurchaseCount = otherGen_df['Purchase ID'].count()

otherAvgPurchasePrice = round(otherGen_df['Price'].mean(),2)

otherTotalVal = round(otherGen_df['Price'].sum(),2)
comparison_otherGen_df = otherGen_df.groupby(['SN']).sum()
otherAvgTotalPurchase = round(comparison_otherGen_df['Price'].mean(),2)

In [14]:
# Place all Purchasing Analysis Gender data into a summary DataFrame
purchasingGenAnalysis_summary_df = pd.DataFrame({"Gender": ["Female", "Male", "Other / Non-Disclosed"],
                              "Purchase Count": [femalePurchaseCount, malePurchaseCount, otherPurchaseCount],
                              "Average Purchase Price": ["$" + str(femaleAvgPurchasePrice), "$" + str(maleAvgPurchasePrice), "$" + str(otherAvgPurchasePrice)],
                              "Total Purchase Value": ["$" + str(femTotalVal), "$" + str(maleTotalVal), "$" + str(otherTotalVal)],
                              "Avg Total Purchase per Person": ["$" + str(femAvgTotalPurchase), "$" + str(maleAvgTotalPurchase), "$" + str(otherAvgTotalPurchase)]})

# Purchasing Analysis (Gender)

In [15]:
purchasingGenAnalysis_summary_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,$3.2,$361.94,$4.47
1,Male,652,$3.02,$1967.64,$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [16]:
# Create age bins in which Data will be held 
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 110]
age_group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [17]:
# Apply the age bins to the unique players dataframe
unique_players_df["Age Range"] = pd.cut(unique_players_df["Age"], age_bins, labels=age_group_names, include_lowest=True)

# Create a new dataframe with grouped age ranges
age_group_unique = unique_players_df.groupby("Age Range")
age_group_unique_df = age_group_unique[["Age Range"]].count()

# Rename the Age Range field to Total Count, for clarity
age_group_unique_df = age_group_unique_df.rename(columns={"Age Range":"Total Count"})

# Create a new column for percentage of players in a given age range and format appropriately
age_group_unique_df["Percentage of Players"] = (age_group_unique_df["Total Count"] / playerCount) * 100
age_group_unique_df["Percentage of Players"] = age_group_unique_df["Percentage of Players"] .map("{:.2f}%".format)

# Age Demographics

In [18]:
age_group_unique_df

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [19]:
# Apply age bins to non-unique player dataframe
hop_df["Age Range"] = pd.cut(hop_df["Age"], age_bins, labels=age_group_names, include_lowest=True)
age_group = hop_df.groupby("Age Range")

# Count the number of purchases per age bin and name results appropriately
age_group_df = age_group[["Age Range"]].count()
age_group_df = age_group_df.rename(columns={"Age Range":"Purchase Count"})

# Find the mean purchase price per age bin and name + format results appropriately
age_group_df["Average Purchase Price"] = age_group["Price"].mean()
age_group_df["Average Purchase Price"] = age_group_df["Average Purchase Price"].map("${:.2f}".format)

# Find the total purchase value per age bin and name + format results appropriately
age_group_df["Total Purchase Vale"] = age_group["Price"].sum()
age_group_df["Total Purchase Vale"] = age_group_df["Total Purchase Vale"].map("${:.2f}".format)

# Fine the average total purchase per person
# Group original data by person
per_person_group = hop_df.groupby(['SN'])

# Find the sum of each person's purchases and name results appropriately
per_person_total_df = per_person_group[["Price"]].sum()
per_person_total_df = per_person_total_df.rename(columns={"Price":"Total Purchase Amount"})

# Reset the index value to enable merge
per_person_total_df.reset_index(level=0, inplace=True)

# Merge sum of individual's purchases to the main hop_df dataframe
hop_df = pd.merge(hop_df, per_person_total_df, on="SN")

# Create a new table, allowing to group by Age Range and drop duplicate values that would offset the mean
age_range_totals_df = hop_df[['SN', 'Age Range', 'Total Purchase Amount']]
age_range_totals_df = age_range_totals_df.drop_duplicates()
age_range_totals_group = age_range_totals_df.groupby("Age Range")

# Calculate the mean on the new grouped dataframe
age_group_df["Avg Total Purchase per Person"] = age_range_totals_group["Total Purchase Amount"].mean()

In [20]:
# Format final column and display
age_group_df["Avg Total Purchase per Person"] = age_group_df["Avg Total Purchase per Person"].map("${:.2f}".format)

# Purchasing Analysis (Age)

In [21]:
age_group_df

,Purchase Count,Average Purchase Price,Total Purchase Vale,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [22]:
# Utilize the previously created per_person_group to create the new spender table and count
# purchases per player
spender_df = per_person_group[["Purchase ID"]].count()
spender_df = spender_df.rename(columns={"Purchase ID" : "Purchase Count"})

# Calculate the average 
spender_df["Average Purchase Price"] = per_person_group["Price"].mean()
spender_df["Average Purchase Price"] = spender_df["Average Purchase Price"].map("${:.2f}".format)

# Merge spender_df with per_person_total_df as "Total Purchase Amount" has already been calculated per person 
spender_df.reset_index(level=0, inplace=True)
spender_df = pd.merge(spender_df, per_person_total_df, on="SN")

# Sort spender_df by Total Purchase per person and then formt the column appropriately
spender_df = spender_df.sort_values(by='Total Purchase Amount', ascending=False)
spender_df["Total Purchase Amount"] = spender_df["Total Purchase Amount"].map("${:.2f}".format)

# Top 5 Spenders

In [23]:
spender_df.head()

              SN  Purchase Count Average Purchase Price Total Purchase Amount
360    Lisosia93               5                  $3.79                $18.96
246  Idastidru52               4                  $3.86                $15.45
106   Chamjask73               3                  $4.61                $13.83
275       Iral74               4                  $3.40                $13.62
281  Iskadarya95               3                  $4.37                $13.10

In [24]:
# Create a dataframe with the needed 
item_group_df = hop_df[['Item ID', 'Item Name', 'Price']]

# Group the df by items
item_group = item_group_df.groupby(['Item ID', 'Item Name'])

# Calculate the purchase count, average price, and total purchase value of each item
item_grouped_by_df = item_group[['Item ID']].count()
item_grouped_by_df['Item Price'] = item_group[['Price']].mean()
item_grouped_by_df['Total Purchase Value'] = item_group[['Price']].sum()

# Rename the columns appropriately 
item_grouped_by_df = item_grouped_by_df.rename(columns={"Item ID" : "Purchase Count"})

# Keep a non-sorted and formatted version of the item_grouped_by_df for the next section
b_item_grouped_by_df = item_grouped_by_df

# Sort by most often purchased item
item_grouped_by_df = item_grouped_by_df.sort_values(by='Purchase Count', ascending=False)
# Format the price column appropriately
item_grouped_by_df["Total Purchase Value"] = item_grouped_by_df["Total Purchase Value"].map("${:.2f}".format)
item_grouped_by_df["Item Price"] = item_grouped_by_df["Item Price"].map("${:.2f}".format)

# Most Popular Items

In [25]:
item_grouped_by_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [26]:
# Resort the above list to look at the most profitable items
b_item_grouped_by_df = b_item_grouped_by_df.sort_values(by='Total Purchase Value', ascending=False)

# Format the price columns appropriately
b_item_grouped_by_df["Total Purchase Value"] = b_item_grouped_by_df["Total Purchase Value"].map("${:.2f}".format)
b_item_grouped_by_df["Item Price"] = b_item_grouped_by_df["Item Price"].map("${:.2f}".format)

# Most Profitable Items

In [27]:
b_item_grouped_by_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80